.productPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0px 50px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    padding: 0px 50px;
    font-size: x-large;
    padding: 10px;
}

.addToCartButton {
    height: 100px;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDescription {
    text-align: justify;
    border: 1px solid #383d4210;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    background-color: #47494a09;
}


.image {
    width: 100%;
    border-radius: 10px 10px 5px 5px; 
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.27);
}

.title{
    margin-bottom: 5px 0px;
}

.rating{
    margin: 10px 0px;
}

.productInfo{
    margin: 20px 0px;
}